body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-dark);
    font-family: "IBM Plex Mono", monospace;
    color: var(--color-white);
}

main {
    padding-bottom: 100px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
}
