.header {
    // .header__bg

    &__bg {
    }
}

.contacts-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.contacts {
    // .contacts_row

    &_row {
    }

    // .contacts__title

    &__title {
    }

    // .contacts__form

    &__form {
    }
}
